<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<ul class="nav navbar-nav navbar-left">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Shared Google Drive", 'https://drive.google.com/folderview?id=0B9CE3XaFZOIlLUpZcEg5VjRCUzQ&usp=sharing_eid&ts=56c0aa8c' %>
			</ul>
		</div>
</header>